.search-box {
	position: relative;
	z-index: 99;
	display: flex;
	width: 100%;
	height: auto;
	margin-top: -5px;
	justify-content: center
}

.search-out {
	position: relative;
	visibility: hidden;
	width: 680px
}

.search-type-out {
	display: block;
	height: 50px
}

#search-type {
	overflow: hidden
}

.search-type-in {
	display: flex;
	box-sizing: border-box;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: 50px;
	padding-left: 70px;
	align-items: flex-end
}

.search-input-out {
	position: relative;
	border-radius: 28px
}

.search-btn-input {
	display: flex
}

.search-input {
	font-size: 20px;
	font-weight: 300;
	line-height: 62px;
	box-sizing: border-box;
	width: 100%;
	height: 62px;
	padding-right: 20px;
	padding-left: 80px;
	color: #555;
	border: none;
	border-radius: 40px;
	outline: 0;
	background-color: #fff;
	box-shadow: 2px 2px 20px rgba(0,0,0,.06)
}

.search-input::-webkit-input-placeholder {
	color: #999
}

.search-input::placeholder {
	color: #999
}

.se-btn-show-true .search-input {
	border-radius: 40px 0 0 40px
}

.se-btn-show-false .search-input {
	border-radius: 40px
}

.se-select {
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
	height: 62px;
	cursor: pointer;
	transition: background ease .2s;
	border-radius: 50% 0 0 50%
}

.se-select:hover {
	background-color: rgba(0,0,0,.05)
}

.se-select-img {
	width: 60px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%
}

.se-select-triangle {
	position: absolute;
	top: 50%;
	right: 5px;
	width: 0;
	margin-top: -3px;
	border-top: solid 8px rgba(0,0,0,.1);
	border-right: solid 5px transparent;
	border-left: solid 5px transparent
}

.se-button {
	display: none;
	width: 90px;
	cursor: pointer;
	transition: opacity ease .3s;
	border-radius: 0 40px 40px 0;
	background-color: #ff5052;
	background-image: url(./search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 26px
}

.se-btn-show-true .se-button {
	display: block
}

.se-btn-show-false .se-button {
	display: none
}

.se-hover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scale(2);
	background-color: rgba(0,0,0,.1)
}

.se-all {
	position: absolute;
	z-index: 10000;
	top: calc(62px + 8px);
	overflow: hidden;
	height: auto;
	border-radius: 30px;
	background-color: #fff
}

.se-select-item {
	font-size: 15px;
	display: flex;
	margin: 0;
	padding: 14px 20px;
	cursor: pointer;
	transition: background ease .2s;
	color: #555;
	border-bottom: solid 1px rgba(0,0,0,.03);
	align-items: center
}

.se-select-item:last-child {
	border-bottom: solid 1px transparent
}

.se-select-item:hover {
	background-color: rgba(0,0,0,.05)
}

.se-select-item:active {
	background-color: rgba(0,0,0,0)
}

.se-select-name {
	max-width: 260px
}

.se-add-desc {
	font-size: 15px
}

.se-select-item-img {
	width: 22px;
	height: 22px;
	margin-right: 8px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}

.se-select-add-img {
	background-image: url(/icon/add.png);
	background-size: 75%
}

.search-suggestion-out {
	position: absolute;
	z-index: 400;
	display: none;
	width: 100%;
	margin-top: 20px;
	border-radius: 30px;
	background-color: rgba(255,255,255,.98)
}

.search-suggestion-out-show-true {
	display: block!important
}

.search-suggestion-item {
	font-size: 18px;
	font-weight: 300;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	height: 50px;
	margin: 0;
	padding-right: 40px;
	padding-left: 72px;
	list-style: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #333;
	align-items: center
}

.search-suggestion-item:nth-child(1) {
	border-radius: 30px 30px 0 0
}

.search-suggestion-item:last-child {
	border-radius: 0 0 30px 30px
}

.search-suggestion-item:hover {
	background-color: #eee
}

.search-suggestion-item-select-true {
	background-color: #eee
}

.search-su-item-url-true {
	color: #2196f3
}

.search-suggestion-item-type-addse {
	color: #ff4d4e
}