@charset "UTF-8";

body{
    background-color: #FFFFE0
}

.clear_float {clear: both;height: 0;line-height: 0px;}/*这是一个用于清除浮动的样式代码，使用一个空的Div来调用*/
a {color: #6d6d6d;text-decoration: none;transition: 1s;}
a:hover, a:active, a:focus {color: #d34e16;}

article{
    position: relative;
    animation: ART 3s;
}

@keyframes ART{
    0%      {left:-500px;opacity: 0;}
    100%    {left:-0;opacity: 1;}
}

header{
    width: 800px;
    margin: 10px auto;
}

.logo{
    float: left;
}
img[alt="Logo"]{
    border-radius: 50%;
}

nav {
	float:right;
	padding-top:40px;
}
nav li {
	display: inline;
	list-style: none;
	padding:1px;
}
nav li a {
	font-size:20px;
	display:inline;
	color:#272727;
	text-shadow: none;
	padding:4px 7px;
	transition: 0.6s;
}

.Top_nav{
    background-color: #ffef96;
    height: 50px;
    margin: 0 auto;
}

.Top_Main{
    margin: 0 auto;
    width: 1200px;
    padding-top: 14px;
}

.Main{
    background-color: #ffef96;
    padding-bottom: 100px;
}

.form{
    text-align: center;
    width: 1000px;
    background-color: #fdfdfd;
    height: 470px;
    margin: 0 auto;
    padding-top: 30px;
}

h3{
    color: #0000ff;
    border-bottom: 1px solid #0000ff;
}

.web_font{
    width: 800px;
    height: 30px;
    border-bottom: 2px solid #d31616;
    margin: 0 auto;
    margin-bottom: 80px;
}

input{
    -webkit-appearance: none;
    -moz-appearance: none;
    outline:none;
    transition: .7s;
    margin-top: 15px;
}

input[type="text"],input[type="password"]{
    width: 300px;
    height: 36px;
    padding-left: 12px;
    border: 2px solid #FF9900;
    border-radius: 7px;
    box-shadow: 0 0 15px 1px #d17d00;
}
input[type="submit"]{
    width: 316px;
    height: 36px;
    font-size: 18px;
    border: 2px solid #FF9900;
    border-radius: 8px;
    background-image: url("../img/Sin.jpg");
    color: #666666;
    font-family: 微软雅黑, serif;
    font-weight: bold;
    box-shadow: 0 0 15px 1px #d17d00;
}
input[type="submit"]:hover,
input[type="text"]:focus,
input[type="password"]:focus{
    color: #ff5e00;
    /*box-shadow: 0 0 30px 1px #ff5e00;*/
    animation: Input_shadow 4s ease-out infinite alternate;
}

footer{
    width: 1000px;
    margin: 0 auto;
}

.F_logo{
    width: 500px;
    float: left;
    margin-top: 10px;
}

.F_web{
    width: 500px;
    float: left;
}

@keyframes Input_shadow{
    0%        {box-shadow: 0 0 15px 1px #ff0000;border: 2px solid #ff0000;}
    25%       {box-shadow: 0 0 20px 2px #00ff00;border: 2px solid #00ff00;}
    50%       {box-shadow: 0 0 35px 2px #0000ff;border: 2px solid #0000ff;}
    100%      {box-shadow: 0 0 15px 1px #ff0000;border: 2px solid #ff0000;}
}
