@charset "utf-8";
/* CSS Document */
.Alogo{
    position:relative;
    animation:logo 1.5s;
}
@keyframes logo{
    0%   {opacity: 0.0;left:-220px;}
    35%  {opacity: 1.0;left:50px;}
    100% {left:0px;}
}
.Anav1{
    position:relative;
    animation:nav1 1s;
}
@keyframes nav1
{
    0%   {opacity: 0.0;top:-100px;}
    100% {opacity: 1.0;top:0px;}
}
.Anav2{
    position:relative;
    animation:nav2 1s;
}
@keyframes nav2
{
    0%   {opacity: 0.0;top:-120px;}
    100% {opacity: 1.0;top:0px;}
}
.Anav3{
    position:relative;
    animation:nav3 1s;
}
@keyframes nav3
{
    0%   {opacity: 0.0;top:-140px;}
    100% {opacity: 1.0;top:0px;}
}
.Anav4{
    position:relative;
    animation:nav4 1s;
}
@keyframes nav4
{
    0%   {opacity: 0.0;top:-160px;}
    100% {opacity: 1.0;top:0px;}
}
#article1{
    position:relative;
    animation:atl1 1s;
}
@keyframes atl1
{
    0%   {opacity: 0.0;left: -140px}
    100% {opacity: 1.0;left:0px;}
}
#article2{
    position:relative;
    animation:atl2 2s;
}
@keyframes atl2
{
    0%   {opacity: 0.0;left: -140px}
    20%   {opacity: 0.0;left: -140px}
    100% {opacity: 1.0;left:0px}
}
#article3{
	position:relative;
	animation:atl2 3s;
}
@keyframes atl2
{
	0%   {opacity: 0.0;left: -140px}
	20%   {opacity: 0.0;left: -140px}
	100% {opacity: 1.0;left:0px}
}
footer{
    position:relative;
    animation:foot 1s;
}
@keyframes foot
{
    0%   {opacity: 0.0;bottom: -140px}
    100% {opacity: 1.0;bottom:0px;}
}
hr{
	position:relative;
	animation:hr 2.5s;
}
@keyframes hr
{
	0%   {opacity: 0.0}
	100% {opacity: 1.0}
}
form{
	animation:atl2 2.2s;
}
.DivImg:hover{
    transform: scale(1.08) rotate(2deg);
}
