/*
 * @Author: Siner (陈清/1706060203)
 * @Date: 2018-12-10 11:31:57 
 * @Last Modified by: Siner
 * @Last Modified time: 2018-12-20 11:42:35
 */
@font-face{font-family:WY_HXD;src:url(../font/WY.otf)} /* 载入外部字体 */

*{margin:0;padding:0;transition:.5s}
body{border-top:2px solid #06f;animation:Load 2s}
@keyframes Load{ 0%{opacity:0} 100%{opacity:1} }
article{margin:0 auto;width:1000px}
a{color:#000;text-decoration:none}
a:hover{color:#06F}
img:hover{opacity:.9;transform:scaleX(1.013) scaleY(1.021)}
#V_QR:hover{opacity:1;transform:none}
.clear_float{clear:both;height:0;line-height:0}
.My_About{border-top-right-radius:7px;border-bottom-right-radius:7px}
.My_About_Web{margin-bottom:15px;padding:15px;border:1.5px solid #8db9e2;border-top-right-radius:15px;border-bottom-right-radius:15px;background-color:#f5f5f5;box-shadow:5px 4px 5px #8db9e2}
.My_About_Web Img{float:left;margin:10px 15px 0 0;width:262px;height:262px;border-radius:50%;box-shadow:5px 4px 5px #8db9e2}
.My_About_Web:hover{border:1.5px solid #06f;box-shadow:5px 4px 5px #06f}
.My_About_Web Img:hover{box-shadow:5px 4px 5px #06f;opacity:1;transform:none}
.My_About_Web a,.My_About_Web span{color:#06F}
header{position:relative;z-index:7;margin:0 auto;width:100%;font-size:14px}
.BlockA,.BlockB{margin:10px 0}
.BlockA_Left{float:left;box-sizing:border-box;width:77%}
.BlockA_Right{float:left;box-sizing:border-box;width:23%}
.BlockA_Right input[type=text]{float:left;box-sizing:border-box;padding:0 5px;height:24px;border:1px solid #06F}
.BlockA_Right input[type=text]:focus{border:1px solid rgba(0,102,255,.063)}
.BlockA_Right a{float:left;display:block;box-sizing:border-box;padding:2px 0;width:46px;height:24px;border-top-right-radius:7px;border-bottom-right-radius:7px;background-color:#06F;color:#FFF;text-align:center}
.BlockB_Logo{font-weight:700;font-size:36px;font-family:'楷体'}
.BlockB_Logo span{color:#06F;font-size:48px}
.BlockB_Nav ul{list-style:none}
.BlockB_Nav ul li{float:left;padding:6px 0 0 0;width:20%;height:30px;background-color:#8db9e2;text-align:center;font-size:18px}
.BlockB_Nav ul li a{color:#000}
#BlockB_active,.BlockB_Nav ul li:hover{background-color:#06F}
.BlockB_Nav ul ul{margin:6px 0 0 0;background-color:none}
.BlockB_Nav ul ul li{float:left;padding:0;width:100%;height:0;background-color:#8db9e2;opacity:0}
.BlockB_Nav ul li:hover ul li{height:30px;background-color:#06F;opacity:1}
.BlockB_Nav ul ul li a{display:block;height:0}
.BlockB_Nav ul li:hover ul li a{height:24px}
.BlockB_Nav ul li:hover ul li:hover{background-color:#8db9e2}
.BlockC{margin:30px auto 0 auto;width:100%;border-bottom:2px solid #06F;border-bottom-right-radius:14px}
.BlockC_Nav{float:left;width:30%}
.BlockC_Nav ul{list-style:none}
.BlockC_Nav ul li{overflow:hidden;box-sizing:border-box;padding:16.25px 5px 0 5px;width:100%;height:60px;border-right:2px solid #06F;border-bottom:2px solid #06F;border-left:2px solid #06F;background-color:#8db9e2;text-align:center;text-overflow:ellipsis;white-space:nowrap;font-size:18px}
.BlockC_Nav_Top{border-top:2px solid #06F}
.BlockC_Img{overflow:hidden;box-sizing:border-box;width:70%;height:360px;border-top:2px solid #06F;border-right:2px solid #06F;border-bottom:2px solid #06F;border-top-right-radius:14px;border-bottom-right-radius:14px}
.BlockC_Img_Show{position:relative;width:4200px;height:360px}
.BlockC_Img img{float:left;width:700px;height:360px}
.BlockC_Button_Left,.BlockC_Button_Right{position:relative;top:-360px;float:left;box-sizing:border-box;width:150px;height:360px;outline:0;border:none;color:#bbb;font-size:42px;opacity:.1}
.BlockC_Button_Left{padding-left:15px;background:linear-gradient(to right,rgba(255,255,255,.741) ,rgba(255,255,255,0));text-align:left}
.BlockC_Button_Right{left:400px;padding-right:15px;background:linear-gradient(to right,rgba(255,255,255,0) ,rgba(255,255,255,.741));text-align:right}
.BlockC_Button_Left:hover,.BlockC_Button_Right:hover{opacity:.65}
.BlockC_Button_Left:active,.BlockC_Button_Right:active{opacity:1}
.BlockC_Left{float:left;margin:10px 1% 0 0;width:24%;border-top:2px solid #06F}
#BlockC_Left_Month,.BlockC_Title{text-align:center;font-size:20px;font-family:WY_HXD}
.BlockC span{margin:0 5px 0 5px;color:#06F;font-weight:700;font-family:"微软雅黑"}
.BlockC_Left_New{margin:25px 0}
.BlockC_Left_Num{float:left;margin-right:5%;width:10%;color:#06F;text-align:center;font-weight:700;font-style:italic;font-size:18px}
.BlockC_Left_Web{float:left;width:85%}
#BlockC_Left_Data{margin:0 auto;padding:5px 0 0 0;width:100%;height:350px;border-top:2px solid #06F}
.BlockC_Left_Everyday{float:left;box-sizing:border-box;margin-top:10px;margin-bottom:5px;padding-top:4px;width:32px;height:32px;text-align:center}
.BlockC_Center{float:left;margin:10px 1% 0 0;width:54%;border-top:2px solid #06F}
.BlockC_Center_Img{float:left;overflow:hidden;margin:10px;width:150px;height:130px;border-radius:7px}
.BlockC_Center_Img img{width:150px;height:130px}
.BlockC_Center ul{list-style:none}
.BlockC_Center li{height:150px}
.BlockC_Center p{padding:10px;text-indent:32px}
.BlockC_Move{position:relative;float:right;color:#919191;font-size:14px}
.BlockC_Move:hover{color:#06F}
.BlockC_Right{float:left;margin:10px 0 0 0;width:20%;border-top:2px solid #06F;border-top-right-radius:14px}
.BlockC_Sub{margin-top:5px}
.BlockC_Sub div{float:left;overflow:hidden;margin:0 5px 0 0;width:90px;height:60px}
.BlockC_Sub p{color:#646464;font-size:15px}
.BlockC_Sub ul{margin:5px 0 0 15px;color:#646464;font-size:10px}
.BlockC_Sub li{margin:5px 0 0 0}
.BlockC_Sub li a:hover{color:#06F}
.BlockC_Sub li a{color:#646464;font-size:10px}
.BlockC_GIF{margin-top:25px;width:100%;border-top:2px solid #06F}
.BlockC_GIF_BOX{overflow:hidden;margin:10px;width:180px;height:180px}
.BlockC_GIF p{margin:0 10px 0 10px;color:#343434;font-weight:700}
.BlockD{width:100%;column-count:3;column-gap:10px}
.BlockD_item{margin-bottom:10px;padding:10px;border:1px solid #bdbdbd;border-radius:12px;box-shadow:1px 2px 3px #c5c5c5;break-inside:avoid}
.BlockD_item:hover{box-shadow:1px 2px 3px #777}
.BlockD_item img{width:100%;border-radius:12px}
.BlockD_item p{text-indent:32px;line-height:30px}
footer{margin:15px auto;width:100%;color:#646464;text-align:center;font-size:12px}
footer a{color:#919191}
footer span{border-bottom:1px solid #646464}
#BlockZ{position:fixed;top:770px;left:1600px;width:50px;height:101px;border:2px solid #bebebe;border-radius:5px}
#BlockZ img{margin:5px;width:40px;height:40px}
#BlockZ hr{color:#bebebe}
/*
 * @代码压缩
 * @作者: Siner (陈清/1706060203)
 * @压缩日期: 2018-12-20 11:42:35
 */